.header {
  width: 100%;
  height: 90px;
  padding: 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex: 1;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.pi.pi-heart.mr-3.p-text-secondary {
  color: #673AB7
}

.pi.pi-shopping-cart.mr-3.p-text-secondary {
  color: #673AB7;

}

.p-button-raised {
  align-items: center;
}

.homeBtn-newItem {
  display: flex;
  gap: 10px;
}

.p-button-raised {
  align-self: center;
}
