<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <h3>Add new Image</h3>

    <!--titel input-->
    <span class="p-float-label">
      <input
        pInputText
        id="title"
        formControlName="title"
        pTooltip="3-20 chars required*"
      />
      <label htmlFor="title">Title</label>
    </span>

    <!--artist input-->
    <span class="p-float-label">
      <input
        pInputText
        id="artist"
        formControlName="artist"
        pTooltip="3-20 chars required*"
      />
      <label htmlFor="artist">Artist</label>
    </span>

    <!--imageURL input-->
    <span class="p-float-label">
      <input
        pInputText
        id="imageURL"
        formControlName="imageURL"
        pTooltip="Valid URL required*"
        #targetEl
      />
      <label htmlFor="imageURL" req>Image URL</label>
    </span>
    <p-image *ngIf="imageURL.valid" [src]="imageURL.value" [preview]="true" />

    <!--price input-->
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">$</span>
      <input
        id="price"
        type="number"
        formControlName="price"
        placeholder=" "
        pInputText
        pTooltip="Between 11 and 1000 required*"
      />
      <span class="p-inputgroup-addon">.00</span>
    </div>

    <!-- <p-autoComplete
      [(ngModel)]="selectedCountry"
      [dropdown]="true"
      [suggestions]="filteredCountries"
      (completeMethod)="filterCountry($event)"
      formControlName="category"
    ></p-autoComplete> -->

    <!--submit button-->
    <p-button
      type="submit"
      label="Submit"
      styleClass="p-button-raised"
      [disabled]="!form.valid"
    ></p-button>
  </form>
</div>
