<div class="shopping-list-item">
  <div class="img-titel">
    <img
      class="shopping-list-item__img-list"
      [src]="shoppingItem.image.imageURL"
    />
    <div class="title-quantity">
      <div style="margin-top: 15px">{{ shoppingItem.image.title }}</div>
      <div class="quantity">
        <button
          pButton
          icon="pi pi-minus"
          class="md:align-self-end mb-1 p-button-rounded"
          style="width: 1rem; height: 1rem"
          (click)="decreaseQuantity()"
        ></button>
        <p style="font-size: 20px; font-weight: bolder">
          {{ shoppingItem.quantity }}
        </p>
        <button
          style="width: 1rem; height: 1rem"
          pButton
          icon="pi pi-plus"
          class="md:align-self-end mb-1 p-button-rounded"
          (click)="increaseQuantity()"
        ></button>
      </div>
    </div>
  </div>
  <div class="price">
    <span>{{ "$" + shoppingItem.quantity * shoppingItem.image.price }}</span>
    <button
      pButton
      icon="pi pi-trash"
      class="md:align-self-end mb-2 p-button-rounded"
      (click)="onDeleteFromCart()"
    ></button>
  </div>
</div>
