// Raleway font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@import "./scss/animations";

// primeng
@import "primeng/resources/themes/md-light-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// ngx-toastr
@import "ngx-toastr/toastr";

// css reset
* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
