@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  animation: slideInLeftToRight 0.5s ease-out forwards;
}

.loadingImage {
  @extend .images-list;
  animation: slide-in-bottom 0.7s ease-out both;
}

.loading {
  width: 40%;
  height: 40%;
}
